.sidebar {
    width: 500px;
    position: fixed;
    right: 0;
    top: 56px;
    bottom: 0;
    z-index: 1;
    background-color: #e49797;
    padding: 20px;
  }
  

  .sidebar-content {
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling for overflowed content */
  }
  .Buttoncss {
    position: absolute;
    top: 0;
    left: 0;
    color: aliceblue;
    background-color: rgb(215, 150, 44);
    border-width: 10px;
    border-color: #b73737;
    border-radius: 5px;
  }